<div class="jumbotron">
    <center>
        <h1>Welcome to Pancho's car shop</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhpbZivO2fyMigPlwhRW2KsVTjMzAzRxWMvQ7txq5fWxsNaz4y" alt="pancho's car shop" width=500px>
        <br>
        <%= link_to "Check out our cars", autos_path, class: "btn btn-default"%>
    </center>
    
</div>